.unity-button {
    color: rgb(255, 255, 255);
    font-size: 53px;
    background-image: url("project://database/Assets/UI/MainMenu/Button.png?fileID=2800000&guid=2f423057d869400458685cda265b7232&type=3#Button");
    background-color: rgba(0, 0, 0, 0);
}

.unity-button:hover {
    color: rgb(255, 255, 255);
    font-size: 53px;
}

.unity-button:active {
    color: rgb(255, 255, 255);
    font-size: 53px;
    scale: 0.95 0.95;
}
